<html>
<head>
  {% include 'header.tmpl' %}
</head>
 <body>
 <header>
 <div id="flexH"><!---Первая строка-->
             {% include 'leftflexH.tmpl' %}<!--- Левая часть верхней строки-->
             {% include 'rightflexH.tmpl' %}<!--- Правая часть верхней строки-->

         </div><br> <!---Верхняя строка-->
<div class="borderv">
{% include 'navbar.tmpl' %}
 </div>

 </header>


  </body>

</html>
