{% include 'templates/header.tmpl' %}

<div class="container">
	<h4>My profile</h4>
		<table class="table table-striped">
			<tr>
				<th>Order</th>
				<th>Name</th>
				<th>Price</th>
				<th>Amount</th>
				<th>Total</th>

			</tr>
			{% for order in orders %}
            		<tr>
            			<td>{{order.id}}</td>
            			<td>{{order.name}}</td>
            			<td>{{order.price}}</td>
            			<td>{{order.amount}}</td>
            			<td>{{order.subtotal}}</td>

            		</tr>
            		{% endfor %}
			<tr>
				<td colspan=4><b>TOTAL<b></td>
				<td><b>{{total}}<b></td>
							</tr>
		</table>
</div>

{% include 'templates/footer.tmpl' %}
